<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- sbb CSS -->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->
    <title>Website!</title>
    <style>
        .container {
            max-width: 600px;
        }
    </style>
</head>
<body>
<nav th:replace="navbar :: navbarFragment"></nav>

<table class="table container">
    <thead>
        <tr>
            <th th:text="#{label.contents.contentnum}">num</th>
            <th th:text="#{label.contents.title}">제목</th>
            <th th:text="#{label.contents.id}">작성자</th>
            <th th:text="#{label.contents.date}">날짜</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>

</div>
</html>